

body {
  margin: 0 auto;
  font-family: "Open Sans", Helvetica, sans-serif;
  color: white;
  font-size: 16px;
  line-height: 1.42;
  background-color: #29292c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color:inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}


p {
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

img {
  display: block; 
  max-width: 100%;
}

body, html{
  height: 100%;
}

button  {
  background: transparent;
  border: none;
  cursor: pointer;
}

.wrapper  {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1200px;
}

.main-page-wrapper {
  background: url(./img/bg/lion-header.jpg) center top no-repeat, url(./img/bg/bottom-pic.png) right bottom 307px no-repeat;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.hero__container  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 600px;
}


.header {
  padding-top: 45px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__col  {
  display: flex;
  align-items: center;
}

.header__col--align--right  {
  display: flex;
  align-items: flex-end;
}

.logo {
  display: block;
  margin-right: 100px;
}


.contacts {
  
  font-style: normal;
  text-align: right;
}

.contacts__desc {
  color: #999999;
  font-family: "Open Sans";
  font-size: 11px;
}



.menu__item {
  display:inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.menu__item_active .menu__link {
  color: #dfb56d;
}

.menu__item:last-child {
margin-right: 0;
}

.menu__link {
font-size: 14px;
text-decoration: none;
}

.menu__link:hover {
  color: #dfb56d;
}

.contacts__phone {
text-decoration: none;
font-size: 26px;
margin-bottom: 4px;
}

.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: underline;
  color: #dfb56d;
  cursor: pointer;
}



.dropdown {
  position: relative;
}

.contacts__dropdown-title:hover ~ .dropdown__menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dropdown__menu {
  position: absolute;
  display: none;
  justify-content: center;
  flex-direction: column;
  margin-left: 35px;
  background: url(./img/shedule-empty.png);
  width: 157px;
  height: 77px;
  margin-right: 0px;
  
}

.dropdown__menu::before {
  content: "";
  display: block;
  width: 150px;
  height: 77px;
  right: -1px;
  bottom: -1px;
  position: absolute;
}


.dropdown__list {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 18px;

}

.dropdown__item {
  font-weight: 400;
  font-size: 13px;
  color: #1e1f20;
}

.dropdown__item-fw-bold {
  font-weight: bold;
}

.dropdown__item:last-child  {
  padding-right: 11px;
}

.hero__text-section {
  width: 38%;
}

.hero__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 18px;
}

.hero__subtitle {
  font-size: 18px;
  color: #dfb56d;
  margin-bottom: 44px;
}

.btn {
  display: inline-block;
  border-radius: 4px;
  padding: 17px 38px;
  color:#fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  background:#d3a556;
}

.btn:hover {
  background:#d3a556;
  box-shadow: 0 0 40px rgba(223, 181, 109, 0.15)
}


.btn_color_ginger:hover {
  background:#d3a556;
  box-shadow: 0 0 25px rgba(223, 181, 109, 0.15)
}


.btn_color_black {
  background: #202123;

}
  

.btn_color_black:hover {
  background-color: #dfb56b;
}

.btn_color_gray  {
  background: #8d8d8d;
}

.btn_color_gray:hover  {
  background: #202123;
}


.section {
  margin-bottom: 138px;
}

.section-promo{
  margin-top: 180px;
}


.section__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 45px;
}

.offers   {
  display: flex;
  justify-content: space-between;
}

.offers__item {
  min-height: 470px;
  background:#fff;
  border-radius: 4px;
  width: calc(100% / 3 - 18px);
  color: #010001;
  overflow: hidden;
}

.offers__header {
  min-height: 162px;
  margin-bottom: 28px;
  position: relative;
}

.offers__header_img {
  position: absolute;
  left: 50%;
  top:50%;
  margin-left: -44px;
  margin-top: -32px;
}


.offers__item:last-child {
  margin-right: 0;
}

.offers__content {
  padding: 36px 30px;
  margin-top: 24px;
  
}

.offers__title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 19px;
}

.offers__prices_cell {
  display: inline-block;
  vertical-align: top;
  width: 115px;
  margin-right: 30px;
}

.offers__prices_cell:last-child {
  margin-right: 0;
}

.offers__price {
  font-size: 36px;
}

.offers__price_desc {
  color: #333;
}


.offers__prices {
  margin-bottom: 50px;
}

.offers__btn {
  text-align: center;
}

.offers__header:before {
  content: "";
  width: 284px;
  height: 284px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: -142px;
  right: -88px;
  background: #cccccc;
}


.offers__item_theme_grey .offers__header:before {
background: #a5a5a4;
}


.offers__item_theme_blue .offers__header:before {
background:#556180;
}

.offers__item_theme_gold .offers__header:before {
background: #978455;
}

.offers__price_range {
  font-size: 30px;
}




.news__item {
  flex: 1;
  height: 392px;
  margin-right: 2%;

}

.single-news {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.news__cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .4;

}

.news__text-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 30px;
  min-height: 140px;
}


.news__date {
  font-size: 15px;
  margin-bottom: 18px;
  text-transform: lowercase;
}

.news__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;

}

.news {
  margin-bottom: 55px;
  display: flex;
  justify-content: space-between;
}

.section_news {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 54px;
}

.pager {
  display: flex;
  justify-content: center;
  align-items: center;
}


.pager__display {
  margin-right: 26px;
}


.pager__list  {
  display: flex;
  align-items: center;
}

.pager__item  {
  text-align: center;
}

.pager__link_active .pager__link {
  background: #353538;
}


.pager__link {
  display:block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}

.pager__link:hover {
  background: #353538;
}

.about  {
  display: flex;
}

.about:before {
  content: "";
  display: block;
  width:488px;
  height:502px;
  background: url(./img/decor/chess.jpg) center center  / cover no-repeat;
}

.about__desc {
  background: #202123;
  padding: 80px 98px;
  max-width: 780px;
  display: inline-block;
  vertical-align: top;
  border-radius:4px;
  margin-left: -142px;
  margin-top: 170px;
}

.about__title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 28px;
}

.about__desc_text {
  margin-bottom: 42px;
}

.about__desc_text p {
  margin-bottom: 20px;
}

.about__desc_text p:last-child {
  margin-bottom: 0;
}

.footer-container {
  margin-top: auto;
}

.footer-container__content {
  border-top: 1px solid #353538;
}

.footer-container__section  {
  height: 140px;
  margin-top: 12px;
}

.footer {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col  {
  display: flex;
  align-items: center;
}

.footer__col--right {
  align-items: flex-end;
}

.socials__item {
  display: flex;
  margin-right: 10px;
}

.socials {
  display: flex;
  flex-direction: row;
  margin-right: 75px;
}


.socials__item:last-child {
  margin-right: 0;
}


.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__item_icon_telegram .socials__link {
  background-image: url(./img/icons/socials/telegram.png)
}

.socials__item_icon_telegram .socials__link:hover {
  background-image: url(./img/icons/socials/telegram-hover.png)
}

.socials__item_icon_vk .socials__link {
  background-image: url(./img/icons/socials/vk.png)
}

.socials__item_icon_vk .socials__link:hover {
  background-image: url(./img/icons/socials/vk-hover.png)
}

.socials__item_icon_facebook .socials__link {
  background-image: url(./img/icons/socials/facebook.png)
}

.socials__item_icon_facebook .socials__link:hover {
  background-image: url(./img/icons/socials/facebook-hover.png)
}

.socials__item_icon_instagram .socials__link {
  background-image: url(./img/icons/socials/instagram.png)
}

.socials__item_icon_instagram .socials__link:hover {
  background-image: url(./img/icons/socials/instagram-hover.png)
}


/*welcome page*/
